.dice {
  width: 100px;
  height: 100px;
  background: #fefee4;
  /* border: 1px solid #828a8a; */
  border-radius: 8px;
  font-size: 44px;
  color: #0d2531;
  margin: 30px;
  transform-origin: center;
  text-align: center;
}

.dice-roll-left {
  transform: rotate(-180deg);
  transition: transform 1s;
}

.dice-roll-right {
  transform: rotate(180deg);
  transition: transform 1s;
}

.dice .fas {
  margin: -10px;
}
